<li>
  <% @user = User.find(entry.user_id) %>
  <%= gravatar_for @user, size: 50 %>
  <%= link_to entry.title, entry %> <br> 
  Upload on <%= entry.created_at.strftime("%A, %d %B %Y at %I:%M%p") %>

</li>